<div id="<%= dom_id purchase_order_item %>">
  <p>
    <strong>Item desctiption:</strong>
    <%= purchase_order_item.item_desctiption %>
  </p>

  <p>
    <strong>Hsn code:</strong>
    <%= purchase_order_item.hsn_code %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= purchase_order_item.qty %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= purchase_order_item.unit %>
  </p>

  <p>
    <strong>Basic price:</strong>
    <%= purchase_order_item.basic_price %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= purchase_order_item.total_amount %>
  </p>

</div>
