<%= form_with model: purchase_order,class: "row g-3", data: { controller: 'rails-nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'} do |form| %>

  <% if purchase_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
        <% purchase_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <%= form.label :billing_address, style: "display: block", class: "form-label" %>
    <%= form.rich_text_area :billing_address , class: "form-control"%>
  </div>
  <div class="col-md-6">
    <%= form.label "Vender Name and Address", style: "display: block", class: "form-label" %>
    <%= form.rich_text_area :vender_detail , class: "form-control"%>
  </div>

  <div class="col-md-6">
    <%= form.label "Group", style: "display: block", class: "form-label" %>
    <%= form.select :department_id, Department.all.map { |d| [d.code, d.id] },{}, { class: "form-control" } %>
  </div>
  <div class="col-md-6">
    <%= form.label "Project", style: "display: block", class: "form-label" %>
    <%#= form.text_field :project , class: "form-control"%>
    <%= form.select :project_id, Project.all.map { |d| [d.name, d.id] },{}, { class: "form-control" } %>
  </div>
   <div class="col-md-6">
    <%= form.label :po_number, style: "display: block", class: "form-label" %>
    <%= form.text_field :po_number , class: "form-control"%>
  </div>

  <div class="col-md-6">
    <%= form.label "GST@%", style: "display: block", class: "form-label"%>
    <%= form.number_field :gst_per , class: "form-control"%>
  </div>
  <div class="border mb-3 col-md-12">
   <template data-rails-nested-form-target="template">
      <%= form.fields_for :purchase_order_items, PurchaseOrderItem.new, child_index: 'NEW_RECORD' do |poi| %>
        <%= render "item", poi: poi %>
      <% end %>
    </template>

    <%= form.fields_for :purchase_order_items do |poi| %>
       <%= render "item", poi: poi %>
    <% end %>
   
    <!-- Inserted elements will be injected before that target. -->
    <div data-rails-nested-form-target="target"></div>
    <div class="mt-2 mb-2">
        <button type="button" data-action="rails-nested-form#add" class="btn btn-primary mt-2 mb-2">Add Item</button>
    </div>
  </div>

  <div class="col-md-6">
    <%= form.label :payment_terms, style: "display: block", class: "form-label" %>
    <%= form.rich_text_area :payment_terms , class: "form-control"%>
  </div>
   <div class="col-md-6">
    <%= form.label "Remarks", style: "display: block", class: "form-label" %>
    <%= form.rich_text_area :comment , class: "form-control"%>
  </div>
  <div class="col-12">
    <%= form.button "submit" , class: "btn btn-primary"%>
  </div>

<% end %>

<style type="text/css">
  .trix-button-group--file-tools {
  display: none !important;
}
.trix-button--icon-undo {
  display: none !important;
}
.trix-button--icon-redo {
  display: none !important;
}

.trix-button {
  display: inline-block;
  height: 24px !important;
  width: 28px !important;
  padding: 3px 5px !important;
  cursor: pointer;
}


.trix-button--icon-underline {
  padding-top: 4px;
}

.trix-button.trix-active .ql-stroke {
  stroke: #0a76d1;
}

.trix-button.trix-active .ql-fill {
  fill: #0a76d1;
}

.trix-button:hover {
  color: black;
}

.trix-button:hover .ql-stroke {
  stroke: black;
}

.trix-button:hover .ql-fill {
  fill: black;
}

</style>