
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Purchase Order Form</title>
<style>
    body { font-family: Arial, sans-serif; margin: 40px; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
    .header { margin-bottom: 20px; }
    .footer { margin-top: 20px; }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="col-12 border border-dark p-4">
  <table class="table table-sm table-bordered border-dark">
    <tbody> 
      <tr>
        <td class="text-center "> 
          <%= image_tag 'logo1', width: 100  %>
          <%#= image_tag("logo1.png", width: 100,class: "text-center") %> 
          </td>
        <td >
          <p class=" p-4 fs-6">
          <b>Kaluwala Construction Pvt Ltd.</b><br>
          Plot No-148, Sector-5, IMT Manesar, Gurgaon-122050,Haryana<br>
          Local +91-124-4568666 
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <h5>PURCHASE ORDER</h5>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
                Billing Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
              <p class="fs-6">
                 <%= @purchase_order.billing_address%> 
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Vender Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
              <p class="fs-6">
                <%= @purchase_order.vender_detail%>  
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              PO Number : 
            </td>
             <td>
              <%= @purchase_order.po_number%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             PO Date :
            </td>
             <td>
              <%= @purchase_order.created_at.strftime("%D")%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              Group : 
            </td>
             <td>
              <%= @purchase_order.department&.code%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             Project :
            </td>
             <td>
              <%= @purchase_order.project&.name%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
              Shipping Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
             <td style="height: 131px;">
             <%= @purchase_order.project&.address%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
               Buyer's Information
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Name : 
            </td>
             <td>
              <%= @purchase_order&.user&.fullname%>
            </td>
          </tr>
          <tr>
            <td>
              Designation: 
            </td>
             <td>
               <%= @purchase_order&.user&.designation%>
            </td>
          </tr>
          <tr>
            <td>
                Phone :
            </td>
             <td>
                <%= @purchase_order&.user&.phone_number%>
            </td>
          </tr>
          <tr>
            <td>
                E-Mail: 
            </td>
             <td>
                <%= @purchase_order&.user&.email%> 
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <table class="table table-sm table-bordered border-dark">
    <thead class="table-dark"> 
      <tr>
        <td>
          S. No #
        </td>
        <td>
          ITEM DESCRIPTION 
        </td>
         <td>
          Hsn Code 
        </td>
        <td>
          Quantity
        </td>
         <td>
           Unit
        </td>
        <td>
          Per Unit Price (Rs)
        </td>
         <td>
          Cost(Rs)
        </td>
      </tr>
    </thead>
    <tbody>
      <% total_basic_price = 0 %>
      <% @purchase_order.purchase_order_items.each_with_index do |item,i|%>
      <% basic_price = ((item.qty.to_f)*(item.basic_price.to_f))%>
      <% total_basic_price += basic_price %>
        <tr>
          <td><%= i+1%></td>
          <td><%= item.item_desctiption%></td>
          <td><%= item.hsn_code%></td>
          <td><%= item.qty%></td>
          <td><%= item.unit%></td>
          <td><%= item.basic_price%></td>
          <td><%= basic_price%></td>
        </tr>
      <%end%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Basic Price</b></td>
        <td><%= total_basic_price%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>GST@<%= @purchase_order.gst_per.to_f%>%</b></td>
        <td><%= _gst_total = (total_basic_price *( @purchase_order.gst_per.to_f/100))%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total</b></td>
        <td><%= total_basic_price+_gst_total%></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
              Terms and Conditions :
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
             <td style="height: 160px;">
              1. By accepting the PO you abide by the terms and conditions of<br/>
                GSRD and no change in this PO valid unless in writing by<br/>
                GSRD.<br/>
                2. Taxes will be extra as define by GST Law of India.<br/>
                3. Mention the same Part Name and No in the invoice as per PO<br/>
                otherwise invoice will not accept by GSRD.<br/>
                4. Supplier must need to send the acceptance in writing of PO<br/>
                within 24 hours from receipt of PO from GSRD.<br/>
                5. Delivery Date/Schedule : within 2 working days<br/>
                6. PO Cancel Date :<br/>
                7. Payment Terms : 30 days on receipt of material at GSRD.<br/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Authorized Signatory Company Seal
            </td>
            <td class="table-dark">
               Company Seal
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td class="p-5">
              karmender@greenstarled.com  
            </td>
            <td class="p-5">
              fdsfsfs
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

</body>
</html>