<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">PO Detail</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <%= link_to "Download PO", download_purchase_order_path(@purchase_order,  format: :pdf), class: "btn btn-sm btn-outline-secondary" %> 
        <%= link_to "Edit this purchase order", edit_purchase_order_path(@purchase_order), class: "btn btn-sm btn-outline-secondary" %> 
        <%= link_to "Back to purchase orders", purchase_orders_path, class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to "Approve PO", "", class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
<%= render @purchase_order %>

  <%#= button_to "Destroy this purchase order", @purchase_order, method: :delete %>

