<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">InterviewPrep</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to  "Home", root_path,class: "nav-link active"%>
        </li>
        <% if current_user%>
        <li class="nav-item">
          <%= link_to  "Your Posts", posts_path,class: "nav-link active"%>
        </li>
        <%end%>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user%>
            <%= feather_icon "user", class: "custom-class", aria: { label: "User activity" } %><%= current_user.email%>
          <%else%>
            <%= feather_icon "user", class: "custom-class", aria: { label: "User activity" } %>
          <%end%>
            </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
            <% if current_user%>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete } , class: "dropdown-item" do %>
                <%= feather_icon "log-out", size: 20, class: "align-text-bottom", aria: { label: "Reports" } %> Sign Out
              <%end%>
              <%else%>
              <%= link_to "Login" ,user_session_path , class: "dropdown-item"%>
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>